<html>
    <head>
        <style>

            body{
                background: aliceblue;
                font-family: Arial, sans-serif;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            h1{
                font-size: 2em;
                color: darkblue;
                text-shadow: 2px 2px 4px lightgray;
                margin: 20px;
            }

        </style>
    </head>

    <body>
        <h1>Welcome to my <i><b>'Spring Boot & Thymeleaf'</b></i> website!</h1>
    </body>
</html>